:root {
  // ### Primary
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);

  // ### Neutral
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

$pink: var(--soft-pink);
$white: var(--white);
$vd-magenta: var(--very-dark-magenta);
$dg-magenta: var(--dark-grayish-magenta);
$lg-magenta: var(--light-grayish-magenta);

@mixin media($breakpoint: 768px) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}
